$basic-text-color: #ffffff;
$that-pink-color: #FC0B56;
$extra-info-color: #515152;

html{
    margin: 0;
	padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
}

.opacity {
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
}
.header__container, .section__container, .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

.header--title {
    font-weight: 400;
    font-size: 36px;
    color:$basic-text-color;
}
.header--title--style {
    font-weight: 900;
}
.header__nav {
    margin-left: auto;
}

.nav__list .nav__list--item{
    display: inline-block;
    position:relative;
    z-index: 1;
    margin-top: 10px;
}


.header__button {
    z-index: 111;
    box-sizing: border-box;
    display: none;
    width: 40px;
  height: 35px;
  border: 0;
  border-top: 4px solid #ffffff;
  background: transparent;
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: 20px;
  transition: 0.3s transform linear;
  cursor: pointer;
  font-size: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        width: 75%;
        border-top: 4px solid #ffffff;
        transform: translateY(10px);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 4px solid #ffffff;
        transform: translateY(25px);
    }
    
}
.header__button--close {
    z-index: 111;
    width: 40px;
    height: 35px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 4px solid #ffffff;
        transform: rotate(45deg) translateY(5px);
    }

    &::after {
        transform: rotate(-45deg) translateX(-5px);
    }

  }
 
.nav__list .nav__list--item .nav--link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: $basic-text-color;
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px;
    &::after,
    &::before {
        contain: '';
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: $basic-text-color;
        visibility: none;
        opacity: 0;
        z-index: -1;
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
        border-radius: 2px;
    }
    &:hover {
        color: #000;
        
    }
}

.nav--link--static {
    background-color: $basic-text-color;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px;
    border-radius: 2px;

}

@media (max-width: 850px) {
    .header__nav {
        //margin-top: 100px;
        margin-right: 0;
    }

    .header__button {
        display: block;
    }

    .nav__list {
        background: black;
        //display: none;
        position: absolute;
        right: -3333px;
        transition: 300ms;
        margin-top: 0;
        height: 100vh;
        width: 20vh;
    }
    .nav__list--none {
        display: none;
    }
    .nav__list--block {
        display: block;
        transition: 300ms;

        position: absolute;
        right: 0;
    }

    .nav__list .nav__list--item .nav--link {
        padding: 0;
        color: #fff;
        
        &::after {
            background: transparent;
        }

        &:hover {
            color: $extra-info-color;
        }   
    }

    .nav--link--static {
        padding: 5px 10px;
        font-weight: 900;
        margin: 0 10px;
        border-radius: 2px;
    
    }

    .nav__list .nav__list--item {
        display: block;
        margin-top: 60px;
        text-align: center;

        &:nth-child(1) {
            margin-top: 300px;
        }
    }

}
// Section Introduction

.section__intro {
    background-image: url('../src/images/bck.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.section__container {
    color: $basic-text-color;
    display: block;
    padding: 230px 20px 0 20px;
}

.section__title {
    font-size: 73px;
    font-weight: 900;

    &::before
    {
        content: '<h1>';
        color: $extra-info-color;
        font-size: 13px;
        font-style: italic;
        position: absolute;
        top: 280px;
    }
    &::after
    {
        content: '</h1>';
        color: $extra-info-color;
        font-size: 13px;
        font-style: italic;
    }
}

@media (max-width: 900px) {
    .section__title {
        font-size: 65px;
    }
}

.section__title--wow {
    color: $that-pink-color;
}

.section__title--role {
    margin-top: -30px;
    color: $extra-info-color;
    font-size: 17px;
    letter-spacing: 3px;
}


// Section About
.section__about {
    //background-color: #140038;
    background-color: #200553;
    height: 100vh;
    margin-top: 100px;
    padding: 0 20px 0 20px;
    width: 500px;
    
    margin-left: auto;
    margin-right: auto;
}

.section__dots--white {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
    &::after {
        content: '• • •';
        
    }
}

.section__title--normal {
    font-size: 60px;
    text-align: center;
    margin-top: -100px;
    position: relative;
    font-weight: 400;
    &::before
    {
        content: '<h2>';
        color: $extra-info-color;
        font-size: 13px;
        font-style: italic;
        position: absolute;
        top: -10px;
        
    }
    &::after
    {
        content: '</h2>';
        color: $extra-info-color;
        font-size: 13px;
        font-style: italic;
        }
}

.section__image {
    text-align: center;
    margin-top: 50px;
    .section__image--avatar {
        border-radius: 50%;
    }

    .section__image--caption {
        letter-spacing: 3px;
        font-size: 17px;
    }
}

.section__image--caption {
    margin-top: 10px;
}

.section--text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 50px auto 0 auto;
    max-width: 600px;
    line-height: 30px;
}


@media (max-width: 1439px) {
    .section__about {
        margin-top: 80px;
        width: 90vw;
        padding:0;
    }
}
// Section Skills
.section__skills {
    height: 100vh;
    //background: #200553;  /* fallback for old browsers */
//background: -webkit-linear-gradient(to right, #200553, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to right, #200553, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     p {
        color: #000;
        font-size: 18px;
        margin-top: 50px;
        text-align: center;
     }
}

.section__dots--black {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
    color: black;
    &::after {
        content: '• • •';
        
    }
}

.black {
    color: #000;
    font-weight: 400;
}

.container--skills {
    margin-top: 80px;
    
    .skills--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .skills--item {
        margin-right: 40px;
        margin-top: 40px;
    }
}

// Section Portfolio
.section__portfolio {
    height: 100vh;
    background: #200553;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#200553), to(#6a3093));
    background: linear-gradient(to right, #200553, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .portfolio--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            list-style-type: none;
    }

    .portfolio--item {
        margin-right: 40px;
        margin-top: 40px;

        &:hover .portfolio--item--image {
            transform: translateY(0px)
        }
    }

    p {
        text-align: center;
        font-size: 18px;
        margin-top: 50px;
    }
}

.item--figure{
    margin: 0;
    padding: 0;
  
}

.container--portfolio {
    margin-top: 80px;
}

// Section Contact
.section__contact {
     height: 100vh;
     
}

.form-contact {
    color: #000;
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
}

.form-contact--body {
    display: flex;
    flex-direction: column;
}

.form-contact--label {
    margin: 10px 0 15px 0;
}

.form-contact--email {
    padding: 20px 0 0 0;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color:#5F2A89; 
}

.form-contact--textarea {
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color:#5F2A89; 
}
// Footer
.footer {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
}

.footer__list--item {
    list-style: none;
  
}

a {
    color: #fff;
    margin-top: 35px;
    letter-spacing: 1px;
}

.footer--mail {
    margin-left: 10px;
    padding: 0 0 30px 0;
}

.footer--link {
    font-size: 32px;
    margin-right: 12px;
}

 
  


