$skew-color: #7A57D2;
$background-color: #405DB9;

html{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .1)
}
.header__container, .section__container, .footer__container {
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.header--title {
    font-weight: 400;
    font-size: 36px;
    color:#fff
}
.header--title--style {
    font-weight: 900;
}
.header__nav {
    margin-left: auto;
}

.nav__list .nav__list--item{
    display: inline-block;
    position:relative;
    z-index: 1;
    margin-top: 10px;
}



.nav__list .nav__list--item .nav--link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px;
    &::after,
    &::before {
        contain: '';
        transition: all .5s;
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: #fff;
        visibility: none;
        opacity: 0;
        z-index: -1;
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
        border-radius: 2px;
    }
    &:hover {
        color: #000;
        
    }
}
.nav--link--static {
    background-color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px;
    border-radius: 2px;

}
// Section about

.section__about {
    background-image: url('../src/images/bck.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.section__container {
    color: #fff;
    padding-top: 230px;
    display: block;
    
}

.section__title {
    font-size: 73px;
    font-weight: 900;

    &::before
    {
        content: '<h1>';
        color: #515152;
        font-size: 13px;
        font-style: italic;
        position: absolute;
        top: 280px;
    }
    &::after
    {
        content: '</h1>';
        color: #515152;
        font-size: 13px;
        font-style: italic;
    }
}

.section__title--wow {
    color: #FC0B56;
}

.section__title--role {
    margin-top: -30px;
    color: #515152;
    font-size: 17px;
    letter-spacing: 3px;
}

// Footer
.footer {
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .1)
}
.footer__container {
    justify-content: center;
}
.footer__list {
    display: flex;
    
}
.footer__list--item {
    list-style-type: none;
    margin-right: 25px;
}

.footer--link{
    color: #FC0B56;
    font-weight: 900;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 3px;
    transition: .5 ease-in;

    &:hover  {
        color: #515152;
    }
}



 
  



