$basic-text-color: #ffffff;
$that-pink-color: #FC0B56;
$extra-info-color: #515152;

html{
    margin: 0;
	padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }

.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
}

.opacity {
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
}
.header__container, .section__container, .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

.header--title {
    font-weight: 400;
    font-size: 36px;
    color:$basic-text-color;
}
.title--link{
    text-decoration: none;
}
.header--title--style {
    font-weight: 900;
}
.header__nav {
    margin-left: auto;
}

.nav__list .nav__list--item{
    display: inline-block;
    position:relative;
    z-index: 1;
    margin-top: 10px;
}

.header__button {
    display: none;
    position: absolute;
  top: 0px;
  right: 0;
    width: 40px;
    height: 31px;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    margin-right: 20px;
    z-index: 100;
    font-size: 0;
    cursor: pointer;
  }
  
  .header__button::before, .header__button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffff;
    transform: translateY(10px);
  }
  
  .header__button::after {
    transform: translateY(23px);
  }


/*.header__button {
    z-index: 111;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
    width: 40px;
  height: 30px;
  border: 0;
  border-top: 3px solid #ffffff;
  background: transparent;
  position: absolute;
  top: 35px;
  right: 0;
  margin-right: 20px;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
  cursor: pointer;
  font-size: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        width: 75%;
        border-top: 3px solid #ffffff;
        -webkit-transform: translateY(9px);
                transform: translateY(9px);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #ffffff;
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    
}*/
.header__button--close {
    z-index: 111;
    width: 40px;
    height: 25px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 17px;
    padding: 0;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #ffffff;
        -webkit-transform: rotate(45deg) translateY(5px);
                transform: rotate(45deg) translateY(5px);
    }

    &::after {
        -webkit-transform: rotate(-45deg) translateX(-5px);
                transform: rotate(-45deg) translateX(-5px);
    }

  }
 
.nav__list .nav__list--item .nav--link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: $basic-text-color;
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px;
    &::after,
    &::before {
        contain: '';
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: $basic-text-color;
        visibility: none;
        opacity: 0;
        z-index: -1;
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
        border-radius: 2px;
    }
    &:hover {
        color: #000;
        
    }
}



@media (max-width: 850px) {
 
    .none {
        display: none;
    }
    .block {
        display: block;
    }
    .nav__list {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        visibility: hidden;
    }

    .nav__list .nav__list--item {
        margin-top: 60px;
        padding: 0;
        text-align: center;
    }

    .header__button {
        display: block;
        
    }

    .nav__list--block{
        visibility: visible;
        background-color: black;
        margin: 0;
        padding: 0 30px;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .nav__list .nav__list--item .nav--link {
        padding: 0;
        color: #fff;
        font-size: 20px;
        &::after {
            background: transparent;
        }

        &:hover {
            color: $extra-info-color;
        }   
    }

    .nav--link--static {
        padding: 5px 10px;
        font-weight: 900;
        //margin: 0 10px;
        border-radius: 2px;
        font-size: 20px;

    }
    

}
// Section Introduction

.section__intro {
    background-image: url('../src/images/bck.jpg');
    background-size: cover;
    //height: 80vh;
    width: 100%;
}

.section__container {
    color: $basic-text-color;
    display: block;
    padding: 230px 20px 150px 20px;
}

.section__title {
    font-size: 73px;
    font-weight: 900;

    &::before
    {
        content: '<h1>';
        color: $extra-info-color;
        font-size: 13px;
        font-style: italic;
        position: absolute;
        top: 280px;
    }
    &::after
    {
        content: '</h1>';
        color: $extra-info-color;
        font-size: 13px;
        font-style: italic;
    }
}

@media (max-width: 900px) {
    .section__title {
        font-size: 65px;
    }
}

@media (max-width: 620px) {
    .section__title {
        font-size: 50px;

        &::before
        {
     
            position: absolute;
            top: 260px;
        }
    }
}

.section__title--wow {
    color: $that-pink-color;
}

.section__title--role {
    margin-top: -30px;
    color: $extra-info-color;
    font-size: 17px;
    letter-spacing: 3px;
}

@media ( max-width: 520px ) {
    .section__container .section__title--normal {
        font-size: 50px;
    }
}
@media ( max-width: 395px ) {
    .section__container .section__title--normal {
        font-size: 42px;
    }
}
// Section About
.section__about {
    //background-color: #140038;
    background-color: #200553;
    //height: 100vh;
    margin-top: 100px;
    padding: 0 20px 0 20px;
    width: 500px;
    
    margin-left: auto;
    margin-right: auto;
}
.bottom-space {
    padding-bottom: 60px;
    padding-top: 180px;
}
.section__dots--white {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
    &::after {
        content: '• • •';
        
    }
}

.section__title--normal {
    font-size: 60px;
    text-align: center;
    margin-top: -100px;
    position: relative;
    font-weight: 400;
    &::before
    {
        content: '<h2>';
        color: $extra-info-color;
        font-size: 11px;
        font-style: italic;
        position: absolute;
        top: -10px;
    }
    &::after
    {
        content: '</h2>';
        color: $extra-info-color;
        font-size: 11px;
        font-style: italic;
        }
}

.section__image {
    text-align: center;
    margin-top: 50px;
   //flex-direction: column;
    .section__image--avatar {
        border-radius: 50%;
    }

    .section__image--caption {
        letter-spacing: 3px;
        font-size: 17px;
    }
}

.section__image--caption {
    margin-top: 10px;
}

.section--text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 50px auto 0 auto;
    max-width: 600px;
    line-height: 30px;
    color: $basic-text-color;
}


@media (max-width: 1439px) {
    .section__about {
        margin-top: 80px;
        width: 90vw;
        padding:0;
    }
}



@media (max-width: 600px) {
    .section--text {
        font-size: 16px;
    }
    
}

@media (max-width: 390px) {
    .section__image {
        .section__image--avatar {
            width: 100%;
        }
     }
}
// Section Skills
.section__skills {
    //height: 100vh;
    //background: #200553;  /* fallback for old browsers */
//background: -webkit-linear-gradient(to right, #200553, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to right, #200553, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     p {
        color: #000;
        font-size: 18px;
        margin-top: 50px;
        text-align: center;
     }
}

.section__dots--black {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
    color: black;
    &::after {
        content: '• • •';
        
    }
}

.black {
    color: #000;
    font-weight: 400;
}

.container--skills {
    margin-top: 80px;
    
    .skills--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .skills--item {
        margin-right: 40px;
        margin-top: 40px;
        list-style-type: none;
        width: 150px;

    }
}

/*tooltip*/

@media ( max-width: 1040px ) {
    .container--skills {
        .skills--item {
            width: 120px;
        }
    }

}
@media ( max-width: 600px ) {
    .container--skills {
        .skills--item {
            width: 100px;
        }
    }

}


// Section Portfolio
.section__portfolio {
    //height: 100vh;
    background: #200553;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#200553), to(#6a3093));
    background: linear-gradient(to right, #200553, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 0;
    .portfolio--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            list-style-type: none;
            margin-bottom: 0;
            padding-bottom: 80px;

    }

    .portfolio--item {
        margin-right: 40px;
        margin-top: 40px;

        &:hover .portfolio--item--image {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
          
        }
    }

    p {
        text-align: center;
        font-size: 18px;
        margin-top: 50px;
    }
}

.section__dots--white{
    margin-left: -10px;
}
.portfolio--item--image{
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.item--figure{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

figure.item--figure figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background: -webkit-linear-gradient(top, rgba(97, 72, 86, 0) 0%, rgba(72,76,97,0.8) 75%);
    //background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(116, 51, 110, 0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.item--figure h2 {
	position: absolute;
	top: 40%;
    //left: 30%;
    display: flex;
    justify-content: center;
	width: 100%;
    color: white;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    letter-spacing: 2px;
}

figure.item--figure figcaption::before,
figure.item--figure .figcaption--link {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.item--figure .figcaption--link {
	position: absolute;
	bottom: 0;
    //left: 27%;
    display: flex;
    justify-content: center;
    padding: 2em 0 2em 0;
    width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    font-size: 19px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #FC0B56;
    font-weight: 600;
    letter-spacing: 2px;

}
figure.item--figure .fa-eye {
    display: block;
    margin-left: 5px;
    margin-top: -2px;
    font-size: 30px;
}

figure.item--figure:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.item--figure:hover figcaption::before ,
figure.item--figure:hover .figcaption--link {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.container--portfolio {
    margin-top: 80px;
}

@media ( max-width: 800px ) {
    .portfolio--item {
        width: 100%;
        object-fit: cover;
    }

    .portfolio--item--image{
       height: 250px;    
       background-size: cover;
    }
}

// Footer
.footer {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__list--item {
    list-style: none;
  
}

a {
    color: #fff;
    margin-top: 35px;
    letter-spacing: 1px;
}

.footer--mail {
    margin-left: 10px;
    padding: 0 0 30px 0;
}

.footer--link {
    font-size: 32px;
    margin-right: 12px;
}

@media ( max-width: 650px ) {
    .footer--mail {
        text-align: center;
    }

    .footer__container {
        flex-direction: column;
    }
}

 
  


