.footer {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__list--item {
    list-style: none;
  
}

a {
    color: #fff;
    margin-top: 35px;
    letter-spacing: 1px;
}

.footer--mail {
    margin-left: 10px;
    padding: 0 0 30px 0;
}

.footer--link {
    font-size: 32px;
    margin-right: 12px;
}

@media ( max-width: 650px ) {
    .footer--mail {
        text-align: center;
    }

    .footer__container {
        flex-direction: column;
    }
}