.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
}

.opacity {
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
}
.header__container, .section__container, .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

.header--title {
    font-weight: 400;
    font-size: 36px;
    color:$basic-text-color;
}
.title--link{
    text-decoration: none;
}
.header--title--style {
    font-weight: 900;
}
.header__nav {
    margin-left: auto;
}

.nav__list .nav__list--item{
    display: inline-block;
    position:relative;
    z-index: 1;
    margin-top: 10px;
}

.header__button {
    display: none;
    position: absolute;
  top: 0px;
  right: 0;
    width: 40px;
    height: 31px;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    margin-right: 20px;
    z-index: 100;
    font-size: 0;
    cursor: pointer;
  }
  
  .header__button::before, .header__button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffff;
    transform: translateY(10px);
  }
  
  .header__button::after {
    transform: translateY(23px);
  }


/*.header__button {
    z-index: 111;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
    width: 40px;
  height: 30px;
  border: 0;
  border-top: 3px solid #ffffff;
  background: transparent;
  position: absolute;
  top: 35px;
  right: 0;
  margin-right: 20px;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
  cursor: pointer;
  font-size: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        width: 75%;
        border-top: 3px solid #ffffff;
        -webkit-transform: translateY(9px);
                transform: translateY(9px);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #ffffff;
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    
}*/
.header__button--close {
    z-index: 111;
    width: 40px;
    height: 25px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 17px;
    padding: 0;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #ffffff;
        -webkit-transform: rotate(45deg) translateY(5px);
                transform: rotate(45deg) translateY(5px);
    }

    &::after {
        -webkit-transform: rotate(-45deg) translateX(-5px);
                transform: rotate(-45deg) translateX(-5px);
    }

  }
 
.nav__list .nav__list--item .nav--link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: $basic-text-color;
    font-size: 18px;
    font-weight: 900;
    margin: 0 10px;
    &::after,
    &::before {
        contain: '';
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: $basic-text-color;
        visibility: none;
        opacity: 0;
        z-index: -1;
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
        border-radius: 2px;
    }
    &:hover {
        color: #000;
        
    }
}



@media (max-width: 850px) {
 
    .none {
        display: none;
    }
    .block {
        display: block;
    }
    .nav__list {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        visibility: hidden;
    }

    .nav__list .nav__list--item {
        margin-top: 60px;
        padding: 0;
        text-align: center;
    }

    .header__button {
        display: block;
        
    }

    .nav__list--block{
        visibility: visible;
        background-color: black;
        margin: 0;
        padding: 0 30px;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .nav__list .nav__list--item .nav--link {
        padding: 0;
        color: #fff;
        font-size: 20px;
        &::after {
            background: transparent;
        }

        &:hover {
            color: $extra-info-color;
        }   
    }

    .nav--link--static {
        padding: 5px 10px;
        font-weight: 900;
        //margin: 0 10px;
        border-radius: 2px;
        font-size: 20px;

    }
    

}